.Button {
    border: none;
    padding: 10px;
    margin: 1px;
    cursor: pointer;
    border-radius: 5px;
}

.Button:hover {
    background: rgb(90, 194, 125);
}

.Button:focus {outline:0;}

.Pagination {
    position: sticky;
    top: 100px;
    float: left;
    

}