.Button {
    border: none;
    padding: 10px;
    margin: 1px;
    cursor: pointer;
    border-radius: 5px;
    background: #23A6D5;
    color: white;
}

.Button:hover {
    background: rgb(90, 194, 125);
}

.Button:focus {
    outline: 0;
}

.Regular {
    font-size: 20px;
    background: #23A6D5;
    color: white;
}

.Pagination {
    background: rgba(35, 165, 213, 0.829);
    box-shadow: 0 19px 48px rgba(0, 0, 0, 0.3), 0 15px 32px rgba(0, 0, 0, 0.22);

}

.disabled {
    background: #cecece;
}

.disabled:hover {
    background: #cecece;
}

.Remove {
    display: none;
}
