.SlideInMenu {
    position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background: rgb(32, 153, 197);
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
    box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.75);
    display: grid;
    grid-template-rows: 50px 50px 50px;
    animation-iteration-count: forwards;
    animation-duration: 1s;
}

.SlideInMenu a:hover {
    background:#23A6D5;
    color: white;;
}

.Items{
    transition: ease-in-out;
    border-radius: 5px;
    justify-self: left;
    /* background: blue; */

    box-sizing: border-box;
}

.Items h3 {
    margin: 10px;
}

