.Layout {
    width: 100%;
 
}

.Main {
    margin: 50px auto;
    display: grid;
    width: 90%;
    grid-template-areas: "ctg";
    /* grid-template-columns: 1fr 1fr 1fr; */
   
}

.HighScoreContainer {
   
    max-width: 400px;
    margin: 0 auto;
    background: none;
    border-radius: 5px;

   

}

.Children {
    grid-area: ctg;
}

/* .HighScoreContainer {
    margin-top: 60px;
    padding: 10px;
    box-sizing: border-box;
    background: #ebe9e818;
    border-radius: 5px;
    grid-area: highscore;
    margin: 0 auto;
    max-width: 400px;
    color: white;
    
} */

@media screen and (max-width: 600px) {
    .Header {
       display: none;
    }
    .Main {
        margin: 50px auto;
        display: grid;
        width: 90%;
        grid-template-columns:  1fr;

    }
    /* .HighScoreContainer {
        background: white;
        width: 90%;
        background: red;
        
    } */

}
