.Layout {
    width: 100%;
 
}

.Main {
    margin: 50px auto;
    display: grid;
    width: 90%;
    grid-template-areas: "ctg ctg score";
    /* grid-template-columns: 1fr 1fr 1fr; */
   
}

.ScoreContainer {
    grid-area: score;
    width: 100%;

}

.Children {
    grid-area: ctg;
}

/* .HighScoreContainer {
    margin-top: 60px;
    padding: 10px;
    box-sizing: border-box;
    background: #ebe9e818;
    border-radius: 5px;
    grid-area: highscore;
    margin: 0 auto;
    max-width: 400px;
    color: white;
    
} */

@media screen and (max-width: 600px) {
    .Header {
       display: none;
    }
    .Main {
        margin: 50px auto;
        display: grid;
        width: 90%;
        grid-template-columns:  "ctg" "highscore";

    }
    .ScoreContainer {
        background: white;
        width: 90%;
        
    }

}
