.Navbar {
    background-image: url("../../../assets/img/pink\ dust.png");
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.062), 0 6px 6px rgba(0, 0, 0, 0.075);
    padding: 10px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 53px;
    max-width: 4000px;
    margin: 0px auto 10px auto;
    z-index: 100;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;



}

.Navbar .NavbarItems {
    /* display: inline-block; */
    border-radius: 5px;
    color: white;

}

.Navbar div {
    cursor: pointer;
}

.Navbar .NavbarItems a {
    color: white;
    text-transform: uppercase;
    margin: 15px 20px 1px 10px;
    display: inline-block;
}


.Navbar .NavItem:hover {
    color: orange;
}

.FaBomb {
    font-size: 40px;
    float: left;
}

.FaBomb:hover {
    color: orange;
}

.PlayerInfo {
    justify-self: right;
}

.GameScore {
    position: relative;
    background: red;
}


.StartGame {
    /* background: red;
    width: 100%;
    height: 400px;
    margin-top: 5px; */
}

@media screen and (max-width: 610px) {
    .Logo div {
        border: none;
        padding: 0;
        margin: 0 auto;
        /* border: 1px solid #8a1;
        background: #9b2; */
        box-shadow: none;
        text-align: center;
        content: none;
    }

    .Logo div::before {
        content: none;
    }

    .Logo div::after {
        content: none;
    }

}

@media screen and (max-width: 762px) {
    .Logo div {
        max-width: 40%;
        margin: 0 auto;
        font-size: 1.5rem;
        box-sizing: border-box;
        /* text-align: center; */
        box-sizing: none;
        border: none;
        background: none;
        box-shadow: none;
    }

    .Logo div::before {
        content: none;
    }

    .Logo div::after {
        content: none;
    }

}

