.SelectedCategory {
 position: relative;
  width: 100%;
  top: 5px;
  left: 0;
  right: 0;
  margin-left: 0;
  margin-left: 0;
}

.QuestionCard {
  width: 90%;
  margin: 0 auto;
  animation-duration: 1s;
  animation-iteration-count: forwards;
}

.GameScore {
  width: 100%;
}

.CardBlocker {
  margin: 0 auto;
  text-align: center;
  max-width: 380px;
  min-height: 200px;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  background-color: #FFF;
  box-shadow: 0 19px 48px rgba(0, 0, 0, 0.3), 0 15px 32px rgba(0, 0, 0, 0.22);
  overflow-y: hidden;
  border-radius: 5px;
  animation-duration: 2s;
  animation-iteration-count: forwards;
}
@media screen and (max-width: 640px) {
  .SelectedCategory {
    width: 100%;
  
  }
}