.Auth {
    margin: 0 auto;
    max-width: 400px;
    height: 100%;
    border-radius: 5px;
    background: white;
    padding: 0px 20px 20px 20px;
    display: grid;
    grid-gap: 4px;
    
    
}

.AuthContainer {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: right;
    grid-gap: 1px;
    margin-top: -60px;
    animation-iteration-count: forwards;
    animation-duration: 5s;
   
    
}

.ButtonContainer {
    margin-top: 30px;
}
@media screen and (max-width: 700px) {
    .AuthContainer {
        grid-template-columns: 1fr;
    }
}
