.HealthBar {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    display: grid;
    justify-content:center;
}

.Health {
    color: red;
    padding: 3px;

}

.Heart {
    animation-duration: 1s;
    animation-iteration-count: infinite;
    font-size: 2rem;
    
    
    margin:  0 10px 0 auto; 
}

@media screen and (max-width: 500px) {
    .Heart {
        animation-duration: 1s;
        animation-iteration-count: infinite;
        font-size: 1.5rem;
        
        
        margin:  0 10px 0 auto; 
    }
}